@media screen and (max-width: 768px) {
    body {
        background-color: grey;
        color: white;
    }
}

h1 {
  color: blue;
  text-align: center;
  height: 70px;
  padding-top: 2px;
}

img {
  margin: 40px;
  width: 40%;

}

body {
  margin: 20px;
}
